WCF/KnownTypes/ClientApp/Service References/MathService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Domain" />
  <xs:element name="GetShape">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="shape" nillable="true" type="q1:Shape" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShapeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetShapeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>