WCF/WCFTraining/DataContracts/ClientApp/Service References/MathService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.mysamplewcfservice.com/2012/08" elementFormDefault="qualified" targetNamespace="http://www.mysamplewcfservice.com/2012/08" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="InternalOperation-A">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalOperation-AResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InternalOperation-AResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalOperationB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InternalOperationBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InternalOperationBResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>