WCF/WCFTraining/DataContracts/ClientApp/Service References/MathService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.mysamplewcfservice.com/2012/08" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="InternalOperations_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.mysamplewcfservice.com/2012/08" location="http://localhost:8080/?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddResult_InputMessage">
    <wsdl:part name="parameters" element="tns:AddResult" />
  </wsdl:message>
  <wsdl:message name="IService_AddResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResultResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AdminOperationA_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperationA" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AdminOperationA_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperationAResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AdminOperationB_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperationB" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AdminOperationB_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperationBResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Add" message="tns:IService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddResponse" message="tns:IService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddResult" message="tns:IService_AddResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddResultResponse" message="tns:IService_AddResult_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="AdminOperationA">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AdminOperationA" message="tns:IAdminService_AdminOperationA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AdminOperationAResponse" message="tns:IAdminService_AdminOperationA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminOperationB">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AdminOperationB" message="tns:IAdminService_AdminOperationB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AdminOperationBResponse" message="tns:IAdminService_AdminOperationB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Add" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddResult">
      <soap:operation soapAction="http://tempuri.org/IService/AddResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminOperations" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdminOperationA">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AdminOperationA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminOperationB">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AdminOperationB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InternalOperations" type="i0:InternalService">
    <wsp:PolicyReference URI="#InternalOperations_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InternalOperation-A">
      <soap12:operation soapAction="http://www.mysamplewcfservice.com/2012/08/InternalService/InternalOperation-A" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InternalOperationB">
      <soap12:operation soapAction="http://www.mysamplewcfservice.com/2012/08/InternalService/InternalOperationB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="Add" binding="tns:Add">
      <soap:address location="http://localhost:8080/Add" />
    </wsdl:port>
    <wsdl:port name="AdminOperations" binding="tns:AdminOperations">
      <soap:address location="http://localhost:8080/AdminOperation" />
    </wsdl:port>
    <wsdl:port name="InternalOperations" binding="tns:InternalOperations">
      <soap12:address location="net.tcp://localhost:8081/InternalOperation" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/InternalOperation</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>karthiksg-PC\karthiksg</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>