WCF/DataContracts/ClientApp/Service References/MathService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MathA">
    <xs:sequence>
      <xs:element name="numberA" type="xs:int" />
      <xs:element name="numberB" type="xs:int" />
      <xs:element name="result" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MathA" nillable="true" type="tns:MathA" />
  <xs:complexType name="MathB">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumA" type="xs:int" />
      <xs:element minOccurs="0" name="NumB" type="xs:int" />
      <xs:element minOccurs="0" name="Result" type="xs:int" />
      <xs:element name="StartTime" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MathB" nillable="true" type="tns:MathB" />
</xs:schema>