Legacy/WCF/WCFTraining/Message Contract/ClientApp/Service References/AdminService/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8002/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8002/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_AdminOperationA_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperationA" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AdminOperationA_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperationAResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AdminOperationB_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperationB" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AdminOperationB_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperationBResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="AdminOperationA">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AdminOperationA" message="tns:IAdminService_AdminOperationA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AdminOperationAResponse" message="tns:IAdminService_AdminOperationA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminOperationB">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AdminOperationB" message="tns:IAdminService_AdminOperationB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AdminOperationBResponse" message="tns:IAdminService_AdminOperationB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminOperations" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AdminOperationA">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AdminOperationA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminOperationB">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AdminOperationB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="AdminOperations" binding="tns:AdminOperations">
      <soap:address location="http://localhost:8002/AdminOperation" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>