Legacy/WCF/TestPart1/Client/Service References/HelloWorldServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.xyz.com/2010/10" elementFormDefault="qualified" targetNamespace="http://www.xyz.com/2010/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>