Legacy/WCF/DataContracts/ClientApp/Service References/MathService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
  <xs:element name="AddResultA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="math" nillable="true" type="q1:MathA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResultAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="AddResultAResult" nillable="true" type="q2:MathA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResultB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="math" nillable="true" type="q3:MathB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResultBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="AddResultBResult" nillable="true" type="q4:MathB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>