Legacy/WCF/DataContracts/ClientApp/Service References/MathService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_AddResultA_InputMessage">
    <wsdl:part name="parameters" element="tns:AddResultA" />
  </wsdl:message>
  <wsdl:message name="IService_AddResultA_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResultAResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddResultB_InputMessage">
    <wsdl:part name="parameters" element="tns:AddResultB" />
  </wsdl:message>
  <wsdl:message name="IService_AddResultB_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResultBResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="AddResultA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddResultA" message="tns:IService_AddResultA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddResultAResponse" message="tns:IService_AddResultA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddResultB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddResultB" message="tns:IService_AddResultB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddResultBResponse" message="tns:IService_AddResultB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Add" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddResultA">
      <soap:operation soapAction="http://tempuri.org/IService/AddResultA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddResultB">
      <soap:operation soapAction="http://tempuri.org/IService/AddResultB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="Add" binding="tns:Add">
      <soap:address location="http://localhost:8080/Add" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>