WCF/Contracts/ClientApp/Service References/AddService/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.mysamplewcfservice.com/2012/08" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mysamplewcfservice.com/2012/08" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mysamplewcfservice.com/2012/08/Imports">
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd2" namespace="http://www.mysamplewcfservice.com/2012/08" />
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InternalService_InternalOperation-A_InputMessage">
    <wsdl:part name="parameters" element="tns:InternalOperation-A" />
  </wsdl:message>
  <wsdl:message name="InternalService_InternalOperation-A_OutputMessage">
    <wsdl:part name="parameters" element="tns:InternalOperation-AResponse" />
  </wsdl:message>
  <wsdl:message name="InternalService_InternalOperationB_InputMessage">
    <wsdl:part name="parameters" element="tns:InternalOperationB" />
  </wsdl:message>
  <wsdl:message name="InternalService_InternalOperationB_OutputMessage">
    <wsdl:part name="parameters" element="tns:InternalOperationBResponse" />
  </wsdl:message>
  <wsdl:portType name="InternalService">
    <wsdl:operation name="InternalOperation-A">
      <wsdl:input wsaw:Action="http://www.mysamplewcfservice.com/2012/08/InternalService/InternalOperation-A" message="tns:InternalService_InternalOperation-A_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mysamplewcfservice.com/2012/08/InternalService/InternalOperation-AResponse" message="tns:InternalService_InternalOperation-A_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InternalOperationB">
      <wsdl:input wsaw:Action="http://www.mysamplewcfservice.com/2012/08/InternalService/InternalOperationB" message="tns:InternalService_InternalOperationB_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mysamplewcfservice.com/2012/08/InternalService/InternalOperationBResponse" message="tns:InternalService_InternalOperationB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>