Hobby/Backup/MaFamille1/MaFamille1/Service References/MaFamilleService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WcfService1/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="album" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="GetPhotosResult" nillable="true" type="q1:ArrayOfPhotoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTsunamiPhotos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTsunamiPhotosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="GetTsunamiPhotosResult" nillable="true" type="q2:ArrayOfTsunamiModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="albumName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPhotoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="GetPhotoObjectResult" nillable="true" type="q3:AlbumModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbums">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="GetAlbumsResult" nillable="true" type="q4:ArrayOfAlbumModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="albumName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="append" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1.Model" minOccurs="0" name="UploadPhotoResult" nillable="true" type="q5:FileUploadModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemovePhotoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFileExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="albumName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFileExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsFileExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlbumExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="albumName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldAlbumName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlbumExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAlbumExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>