WCF/WCFTraining/Bindings/ClientApp/Service References/InternalService/InternalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InternalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="InternalOperations_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8003/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8003/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInternalService_InternalOperationA_InputMessage">
    <wsdl:part name="parameters" element="tns:InternalOperationA" />
  </wsdl:message>
  <wsdl:message name="IInternalService_InternalOperationA_OutputMessage">
    <wsdl:part name="parameters" element="tns:InternalOperationAResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalService_InternalOperationB_InputMessage">
    <wsdl:part name="parameters" element="tns:InternalOperationB" />
  </wsdl:message>
  <wsdl:message name="IInternalService_InternalOperationB_OutputMessage">
    <wsdl:part name="parameters" element="tns:InternalOperationBResponse" />
  </wsdl:message>
  <wsdl:portType name="IInternalService">
    <wsdl:operation name="InternalOperationA">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalService/InternalOperationA" message="tns:IInternalService_InternalOperationA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalService/InternalOperationAResponse" message="tns:IInternalService_InternalOperationA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InternalOperationB">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalService/InternalOperationB" message="tns:IInternalService_InternalOperationB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalService/InternalOperationBResponse" message="tns:IInternalService_InternalOperationB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InternalOperations" type="tns:IInternalService">
    <wsp:PolicyReference URI="#InternalOperations_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="InternalOperationA">
      <soap12:operation soapAction="http://tempuri.org/IInternalService/InternalOperationA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InternalOperationB">
      <soap12:operation soapAction="http://tempuri.org/IInternalService/InternalOperationB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InternalService">
    <wsdl:port name="InternalOperations" binding="tns:InternalOperations">
      <soap12:address location="net.tcp://localhost:8004/InternalOperation" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8004/InternalOperation</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>karthiksg-PC\karthiksg</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>