Legacy/WCF/WCFTraining/KnownTypes/ClientApp/Service References/MathService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Math">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumA" type="xs:int" />
      <xs:element minOccurs="0" name="NumB" type="xs:int" />
      <xs:element name="Result" type="xs:int" />
      <xs:element name="StartTime" type="xs:dateTime">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Math" nillable="true" type="tns:Math" />
  <xs:complexType name="Shape">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shape" nillable="true" type="tns:Shape" />
  <xs:complexType name="Triangle">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Shape">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Triangle" nillable="true" type="tns:Triangle" />
  <xs:complexType name="Square">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Shape">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Square" nillable="true" type="tns:Square" />
</xs:schema>